//Extend

%estilosTit{
    text-align: center;
    font-weight: normal;
    font-family: 'Cinzel', serif;
    font-size: $tama*3.5;
    letter-spacing: 8px;
    margin: 30px;
    background-color: $color6;
    color: white;
}  